<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <title>Jadon Home Page</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <%- include('../partials/Header') %>
    <style>
        #engagement {
            height: 150px;
            width: auto;
            border-radius: 20%;
            border: 5px solid black;
        }
    </style>
</head>
<body>

    <!-- Navbar -->
    <%- include('../partials/navbar') %>

    <!-- Header -->
    <header class="w3-container w3-red w3-center" style="padding:128px 16px">
        <img id="engagement" src="/engagement" alt="My engagement photo" />
        <h1 class="w3-margin w3-jumbo">Jadon Steinmetz</h1>
        <p class="w3-xlarge">My resume builder page!</p>
        <a href="/resume" class="w3-button w3-black w3-padding-large w3-large w3-margin-top" download="Resume.pdf">Download my resume!</a>
    </header>

    <!-- First Grid -->
    <div class="w3-row-padding w3-padding-64 w3-container">
        <div class="w3-content">
            <div class="w3-twothird">
                <h1>Proficiencies</h1>

                <p class="w3-text-grey">
                    Proficient with several languages, including JavaScript, C#, Java, C, SQL, and PHP. I love to learn new technologies and languages, and I am currently learning Python and Ruby as well. My skills lean more towards to logical and backend of engineering. I've dabbled with building RESTful APIs, building relational databases, handling business logic, communication to and from databases, unit testing, and integration testing. I've been particularly interested in full stack development, utilizing JavaScript frameworks and libraries like NodeJS and React.
                </p>
            </div>

            <div class="w3-third w3-center">
                <i class="fa fa-anchor w3-padding-64 w3-text-red"></i>
            </div>
        </div>
    </div>

    <!-- Second Grid -->
    <div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
        <div class="w3-content">
            <div class="w3-third w3-center">
                <i class="fa fa-coffee w3-padding-64 w3-text-red w3-margin-right"></i>
            </div>

            <div class="w3-twothird">
                <h1>This application</h1>
                <h5 class="w3-padding-32">This application is made as a portal to show off my projects, and describe who I am</h5>

                <p class="w3-text-grey">
                    In this project you will be able to find my projects tab, which includes some of my bigger projects that I've developed. Most of my side projects were made in JavaScript, making it really convenient to share here :). 
                </p>
            </div>
        </div>
    </div>

    <div class="w3-container w3-black w3-center w3-opacity w3-padding-64">
        <h1 class="w3-margin w3-xlarge">Quote of the decade: Strive for being nothing less than love</h1>
    </div>

    <!-- Footer -->
    <footer class="w3-container w3-padding-64 w3-center w3-opacity">
        <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a> because I can't make my own style to save my life</p>
    </footer>


</body>
</html>
