<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>4D Method Converter</title>
    <%- include('../partials/Header') %>

    <style>
        th,
        td {
            border: 1px black groove;
        }

        #log{
            display: none;
        }

        textarea {
            resize: none;
            width: 100%;
            height: 100%;
            min-width: 300px;
        }

        #middleConsole {
            display: inline-block;
            width: 100%;
            text-align: center;
        }

            #middleConsole button {
                margin-bottom: 20px;
                font-size: 20px;
                width: 85%;
                height: 15vh;
            }

        #MainLogic {
            height: 80vh;
            min-height: 400px;
        }

        .severe1 {
            color: black;
        }

        .severe2 {
            color: orange;
        }

        .severe3 {
            color: red;
        }
    </style>
</head>
<body>
    <%- include('../partials/navbar') %>
     <div class="w3-row-padding w3-padding-64 w3-container">
         <h1 style="width: 100%; text-align: center">4D ordering list</h1>

         <div class='container'>
             <div class='row' id='MainLogic'>
                 <div class='col-5'>
                     <textarea id="input" placeholder="input"></textarea>
                 </div>
                 <div class='col align-self-center'>
                     <div id="middleConsole">
                         <button class="btn btn-primary" onclick="convert()">Convert</button>
                         <br />
                         <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" id="ViewVariables">View variables</button>
                         <br />
                         <button class="btn btn-primary" onclick="CopyToClipboard($('#output').val().trim())" id="CopyOutput">Copy ouput</button>
                     </div>
                 </div>
                 <div class='col-5'>
                     <textarea id="output" placeholder="output" readonly="readonly"></textarea>
                 </div>
             </div>
         </div>

         <br />
         <button onclick="$('#log').toggle(); $('#log').text(outputConsole.detailedLog)">Toggle current log</button>
         <textarea id="log" placeholder="log" rows="5" cols="100" readonly="readonly"></textarea>

         <h3>Update notes (v1):</h3>
         Not quite ready for full copy and pasting methods... Check below "to add"
         <table>
             <tr>
                 <th>Working</th>
                 <th>To add</th>
             </tr>
             <tr>
                 <td>Format variable global types ($, process, and <>) alphabetically</td>
                 <td>Change non-conforming local var names</td>
             </tr>
             <tr>
                 <td>Place parameter inits at top of page</td>
                 <td>Add parameter declaration under parameter inits</td>
             </tr>
             <tr>
                 <td>Place headers at top of page</td>
                 <td>Add ticket init and declaration under header</td>
             </tr>
             <tr>
                 <td>Place code at bottom of page</td>
                 <td></td>
             </tr>
             <tr>
                 <td>Place array inits under code initalization</td>
                 <td></td>
             </tr>
             <tr>
                 <td>Local variable type checking</td>
                 <td></td>
             </tr>
         </table>

         <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
             <div class="modal-dialog">
                 <div class="modal-content">
                     <div class="modal-header">
                         <h5 class="modal-title" id="exampleModalLabel">Variables</h5>
                         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                     </div>
                     <div class="modal-body" id="variableLog">
                         ...
                     </div>
                     <div class="modal-footer">
                         <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                         <button type="button" class="btn btn-primary" onclick="CopyToClipboard($('#variableLog').text())">Copy Errors</button>
                     </div>
                 </div>
             </div>
         </div>
     </div>


    <script  type="text/javascript" src="/js/MethodConverter4D.js"></script>
</body>
</html>
